bluemix.json
[{"id":"247703ee.1fa9dc","type":"tab","label":"Flow 1"},{"id":"a2f33d36.ef6f7","type":"tab","label":"bluemix","disabled":false,"info":""},{"id":"5ce3372d.f3d1d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cbe70037.29077","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5ce9cf11.05c46","type":"ui_group","z":"","name":"Default","tab":"cbe70037.29077","order":1,"disp":true,"width":"6","collapse":false},{"id":"802f138b.9fab4","type":"ibmiot in","z":"247703ee.1fa9dc","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"LivingRoomThermo1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":400,"wires":[["4af047de.051b18","c5c65f21.16e23","d30ac413.4990d8","df6e864b.b6b798","dbedfea7.aeae2"]]},{"id":"4af047de.051b18","type":"function","z":"247703ee.1fa9dc","name":"temp","func":"return {payload:msg.payload.d.temp};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":400,"wires":[["21b1b92.863a546"]]},{"id":"21b1b92.863a546","type":"switch","z":"247703ee.1fa9dc","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":400,"wires":[["ff64b4da.23ccd8"],["f6430999.cdbb08"]]},{"id":"57b33a3f.58d0c4","type":"debug","z":"247703ee.1fa9dc","name":"cpu status","active":false,"tosidebar":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c5c65f21.16e23","type":"debug","z":"247703ee.1fa9dc","name":"device data","active":false,"tosidebar":true,"console":false,"complete":"true","x":250,"y":920,"wires":[]},{"id":"ff64b4da.23ccd8","type":"template","z":"247703ee.1fa9dc","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["57b33a3f.58d0c4"]]},{"id":"f6430999.cdbb08","type":"template","z":"247703ee.1fa9dc","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["57b33a3f.58d0c4"]]},{"id":"32e9c478.6a116c","type":"ibmiot out","z":"247703ee.1fa9dc","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"1.1.3","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"quickstart","x":570,"y":120,"wires":[]},{"id":"e588f842.5f26e8","type":"inject","z":"247703ee.1fa9dc","name":"Send Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":110,"y":120,"wires":[["38984de0.b99c72"]]},{"id":"38984de0.b99c72","type":"function","z":"247703ee.1fa9dc","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 =  [4.210484,9.081999,36.204824];\nvar latitude1 = [101.975766,8.675277,138.252924];\n\n//CO2\nvar carbon1 = [150,250,450,190,300,500];\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Counter to select from array.\nvar counter2 = context.get('counter2')||0;\ncounter2 = counter2+1;\nif(counter2 > 2) counter2 = 0;\ncontext.set('counter2',counter2);\n\n// Counter to select from array.\nvar counter3 = context.get('counter3')||0;\ncounter3 = counter3+1;\nif(counter3 > 5) counter3 = 0;\ncontext.set('counter3',counter3);\n\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n         \"longitude\" : longitude1[counter2],\n          \"latitude\" : latitude1[counter2],\n        \"C02\" : carbon1[counter3],\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["32e9c478.6a116c","39bb19ca.1dca86"]]},{"id":"39bb19ca.1dca86","type":"debug","z":"247703ee.1fa9dc","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"ad844d59.a0af5","type":"comment","z":"247703ee.1fa9dc","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"c6c2531.9a0afb","type":"comment","z":"247703ee.1fa9dc","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"424af9c8.0337b8","type":"comment","z":"247703ee.1fa9dc","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"cf3f6302.63f28","type":"comment","z":"247703ee.1fa9dc","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"73c9b031.acd8f","type":"comment","z":"247703ee.1fa9dc","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"d30ac413.4990d8","type":"function","z":"247703ee.1fa9dc","name":"humidity","func":"return {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":500,"wires":[["b233ea6d.a56258"]]},{"id":"b233ea6d.a56258","type":"switch","z":"247703ee.1fa9dc","name":"humidity thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":500,"wires":[["d021fee7.74855"],["11b016e2.006039"]]},{"id":"11b016e2.006039","type":"template","z":"247703ee.1fa9dc","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":" ({{payload}})\"Humidity is HIGH\"","x":620,"y":500,"wires":[["c10e9201.7d276"]]},{"id":"d021fee7.74855","type":"template","z":"247703ee.1fa9dc","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}})\"Humidity is LOW\"","x":610,"y":460,"wires":[["c10e9201.7d276"]]},{"id":"c10e9201.7d276","type":"debug","z":"247703ee.1fa9dc","name":"cpu status","active":false,"tosidebar":true,"complete":"false","x":790,"y":460,"wires":[]},{"id":"df6e864b.b6b798","type":"function","z":"247703ee.1fa9dc","name":"country","func":"\nreturn {payload:msg.payload.d.longitude,payload1:msg.payload.d.latitude}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":600,"wires":[["8c3b4d25.04218"]]},{"id":"9a546ca6.15a72","type":"template","z":"247703ee.1fa9dc","name":"malaysia","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}})({{payload1}})\"You Are From Malaysia\"","x":640,"y":560,"wires":[["b64fb89b.6b5868"]]},{"id":"618b7dd9.02be44","type":"template","z":"247703ee.1fa9dc","name":"NIgeria","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}})({{payload1}})You Are From Nigeria","x":640,"y":600,"wires":[["b64fb89b.6b5868"]]},{"id":"b64fb89b.6b5868","type":"debug","z":"247703ee.1fa9dc","name":"cpu status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":580,"wires":[]},{"id":"d775c12f.3ae01","type":"template","z":"247703ee.1fa9dc","name":"Japan","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}})({{payload1}})You Are From Japan","x":630,"y":640,"wires":[["b64fb89b.6b5868"]]},{"id":"8c3b4d25.04218","type":"switch","z":"247703ee.1fa9dc","name":"country thresh","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4.210484","vt":"str"},{"t":"eq","v":"101.975766","vt":"str"},{"t":"eq","v":"9.081999","vt":"str"},{"t":"eq","v":"8.675277","vt":"str"},{"t":"eq","v":"36.204824","vt":"str"},{"t":"eq","v":"138.252924","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":440,"y":600,"wires":[["9a546ca6.15a72"],["9a546ca6.15a72"],["618b7dd9.02be44"],["618b7dd9.02be44"],["d775c12f.3ae01"],["d775c12f.3ae01"]]},{"id":"dbedfea7.aeae2","type":"function","z":"247703ee.1fa9dc","name":"C02","func":"return {payload:msg.payload.d.C02};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":740,"wires":[["de105253.fcca"]]},{"id":"de105253.fcca","type":"switch","z":"247703ee.1fa9dc","name":"C02 thresh","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"str"},{"t":"btwn","v":"200","vt":"str","v2":"400","v2t":"str"},{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":740,"wires":[["29fc80f.c22c98"],["95d3c093.22955"],["8809f60b.67b828"]]},{"id":"29fc80f.c22c98","type":"template","z":"247703ee.1fa9dc","name":"low","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}})\"CO2 Level is LOW\"","x":610,"y":700,"wires":[["a9566e7c.8b045"]]},{"id":"95d3c093.22955","type":"template","z":"247703ee.1fa9dc","name":"moderate","field":"payload","fieldType":"msg","syntax":"mustache","template":" ({{payload}})\"CO2 Level is MODERATE\"","x":620,"y":740,"wires":[["a9566e7c.8b045"]]},{"id":"a9566e7c.8b045","type":"debug","z":"247703ee.1fa9dc","name":"cpu status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"8809f60b.67b828","type":"template","z":"247703ee.1fa9dc","name":"high","field":"payload","fieldType":"msg","syntax":"mustache","template":" ({{payload}})\"CO2 Level is HIGH\"","x":610,"y":780,"wires":[["a9566e7c.8b045"]]},{"id":"fcbaa7ef.063ce8","type":"debug","z":"a2f33d36.ef6f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"105ec80.30da538","type":"ibmiot in","z":"a2f33d36.ef6f7","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":200,"wires":[["fcbaa7ef.063ce8"]]},{"id":"9167d688.482538","type":"ibmiot out","z":"a2f33d36.ef6f7","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027742fb0","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":380,"wires":[]},{"id":"47deb23d.23827c","type":"inject","z":"a2f33d36.ef6f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":130,"y":340,"wires":[["13d6de43.bec0d2"]]},{"id":"ee3c1eea.d4aa9","type":"inject","z":"a2f33d36.ef6f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":130,"y":420,"wires":[["13d6de43.bec0d2"]]},{"id":"13d6de43.bec0d2","type":"function","z":"a2f33d36.ef6f7","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[["833a1da6.b9871"]]},{"id":"833a1da6.b9871","type":"json","z":"a2f33d36.ef6f7","name":"","property":"payload","action":"","pretty":false,"x":470,"y":380,"wires":[["9167d688.482538"]]},{"id":"3b4dbc66.1522c4","type":"ibmiot in","z":"a2f33d36.ef6f7","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027f14fb4","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":800,"wires":[["c519163b.c94998","3028170.0fe3cea","f1b6706f.6951f","67fbf68b.e4db28"]]},{"id":"9ac288b6.f72ad8","type":"ui_button","z":"a2f33d36.ef6f7","name":"","group":"5ce9cf11.05c46","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":640,"wires":[[]]},{"id":"c519163b.c94998","type":"function","z":"a2f33d36.ef6f7","name":"suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":760,"wires":[["2f236d0f.ab6662"]]},{"id":"3028170.0fe3cea","type":"function","z":"a2f33d36.ef6f7","name":"kelembapan","func":" msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":820,"wires":[["b0657f3a.d53cb"]]},{"id":"f1b6706f.6951f","type":"function","z":"a2f33d36.ef6f7","name":"tekanan","func":" msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":880,"wires":[["268c8974.6f1d06"]]},{"id":"2f236d0f.ab6662","type":"ui_gauge","z":"a2f33d36.ef6f7","name":"suhu","group":"5ce9cf11.05c46","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":760,"wires":[]},{"id":"b0657f3a.d53cb","type":"ui_gauge","z":"a2f33d36.ef6f7","name":"kelembapan","group":"5ce9cf11.05c46","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":820,"wires":[]},{"id":"268c8974.6f1d06","type":"ui_gauge","z":"a2f33d36.ef6f7","name":"tekanan","group":"5ce9cf11.05c46","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":880,"wires":[]},{"id":"67fbf68b.e4db28","type":"debug","z":"a2f33d36.ef6f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":1020,"wires":[]}]