node_raspberryPi.json
[{"id":"be00c84b.0cb408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64c3469d.004eb8","type":"wiotp-credentials","z":"","name":"080027f14fb4","org":"thpuhx","serverName":"","devType":"raspberrypiGW","devId":"080027f14fb4","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"59ca13b5.f7f0dc","type":"inject","z":"be00c84b.0cb408","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["a9a973fe.83e79"]]},{"id":"a9a973fe.83e79","type":"random","z":"be00c84b.0cb408","name":"","low":"1","high":"10","inte":"true","property":"payload","x":300,"y":180,"wires":[["e6c35b0e.f5c258"]]},{"id":"e6c35b0e.f5c258","type":"function","z":"be00c84b.0cb408","name":"Format data","func":"msg.payload = { 'd' : { 'random' :  msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["dd5868ec.236258"]]},{"id":"dd5868ec.236258","type":"debug","z":"be00c84b.0cb408","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":180,"wires":[]},{"id":"4f6b757e.1d18fc","type":"delay","z":"be00c84b.0cb408","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":540,"wires":[["114b727a.f7cf4e"]]},{"id":"114b727a.f7cf4e","type":"function","z":"be00c84b.0cb408","name":"Env. Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb080027f14fb4\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["b409f5e2.149fc8","1b31075.cdeaff9"]]},{"id":"b409f5e2.149fc8","type":"debug","z":"be00c84b.0cb408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":540,"wires":[]},{"id":"1b31075.cdeaff9","type":"wiotp out","z":"be00c84b.0cb408","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"64c3469d.004eb8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":670,"y":620,"wires":[]},{"id":"78b66da1.b29ef4","type":"rpi-sensehatsim in","z":"be00c84b.0cb408","name":"","motion":false,"env":true,"stick":false,"x":140,"y":540,"wires":[["4f6b757e.1d18fc"]]}]